@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

:root {
    --white: #fff;
    --bg-top: #8CA6DB;
    --bg-bottom: #B993D6;
    --location:rgb(212, 71, 71, 0.75);
    --black: #2f2e30;
    --shadow: rgba(0, 0, 0, .1);
    --w-shadow: rgba(255, 255, 255, .1);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb{
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--white);
}

::-webkit-scrollbar-track {
    background: #B993D6;
    background: -webkit-linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--bg-top), var(--bg-bottom)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
    font-family: Poppins;
}

@keyframes bg-animation {
    0% {
        translate: -25% -25%;
    }
    50% {
        translate: 25% 25%;
    }
    100% {
        translate: -25% -25%;
    }
}

#bg {
    background: #B993D6;
    background: -webkit-linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    background: linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    position: fixed;
    top: 0;
    left: 0;
    scale: 1.5;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    animation: bg-animation 10s ease-in-out 0s infinite;
    -webkit-animation: bg-animation 10s ease-in-out 0s infinite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgb(255, 0, 0, .1); */
}

header nav {
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 17.5px;
    cursor: pointer;
    padding: 25px 150px;
}

header nav a{
    opacity: .2;
    color: var(--white);
    text-transform: lowercase;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

header nav a:hover {
    opacity: 1;
}

section {
    width: 100%;
    min-height: 100vh;

    color: var(--white);

    padding: 50px 150px;
}

section h2 {
    font-size: 40px;
    text-shadow: 5px 5px var(--shadow);
    position: relative;
}

section h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--white);
}

section h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    translate: 5px 5px;
    border-bottom: 2px solid var(--shadow);
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
}

#hero .title-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#hero h1{
    font-size: 50px;
    text-shadow: 5px 5px var(--shadow);
}

#hero p {
    opacity: .75;

    /* text-align: center; */
}

#hero #button {
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    margin-top: 5px;

    /* justify-content: center; */
}

#hero .button {
    border: 1px solid var(--white);
    color: var(--text);
    background-color: transparent;
    padding: 5px 25px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 5px 5px var(--shadow);
    position: relative;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;

    text-decoration: none;
}

#hero #button {
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    margin-top: 5px;

    /* justify-content: center; */
}

#hero .button a{
    color: var(--text);
    text-decoration: none;
}

#hero .button::after {
    content: '';
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -ms-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    z-index: -10;
}

#hero .button:hover::after {
    transition: width .3 ease-in-out;
    width: 100%;
}

#hero .button:hover {
    color: var(--bg-bottom);
}

#hero .button iconify-icon {
    translate: 0 -5%;
}


#projects {
    display: flex;
    flex-direction: column;

    gap: 37.5px;
    /* justify-content: center; */
}

#projects .nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 25px;
}

#projects .nav li {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

#projects li[option-button-selected] {
    background-color: var(--shadow);
}

#projects li:hover {
    background-color: var(--shadow);
}



.project {
    background-color: var(--shadow);

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px;
    gap: 12.5px;

    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
}

.info {
    /* background-color: red; */

    display: flex;
    justify-content: center;
    /* align-items: center; */

    flex-direction: column;

    padding: 25px;
    gap: 12.5px;

    width: 50%;

    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
}

.project .title{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 5px;
}

.project .img {
    width: 50%;
    cursor: pointer;
    box-shadow: 10px 5px var(--shadow);
    background-color: var(--shadow);
}

.project .img:hover {
    background-color: var(--shadow);
}

.project .img img{
    width: 100%;
    height: 100;
    overflow: hidden;
}


.project .title h3{
    font-size: 37.5px;
    cursor: pointer;
    text-shadow: 5px 5px var(--shadow);
}

.project .title p{
    font-size: 17.5;
}

.project ul{
    display: flex;
    /* justify-content: center; */
    text-decoration: none;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
}

.project li{
    background-color: var(--shadow);
    padding: 5px 20px;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
    font-size: 15px;
    box-shadow: 5px 5px var(--w-shadow);
}

footer {
    height: 50vh;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer #circle {
    background-color: rgb(46, 45, 47, .125);
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    translate: 0 37.5%;

    position: absolute;
}

footer .icon {
    cursor: pointer;
    z-index: 10;
    position: absolute;
}

.icon {
    color: var(--white);
}

footer .icon::after {
    content: '';
    background-color: var(--shadow);
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    scale: 1.25;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: scale .3s ease-in-out;
    -webkit-transition: scale .3s ease-in-out;
    -moz-transition: scale .3s ease-in-out;
    -ms-transition: scale .3s ease-in-out;
    -o-transition: scale .3s ease-in-out;
}

footer .icon:hover::after {
    scale: 2;
}