@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
#top {
  position: fixed;
  color: #617073;
  font-size: 35px;
  bottom: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  opacity: 0;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaa;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

body {
  overflow-x: hidden;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
  font-size: 17.5px;
  padding: 25px 12.5%;
  z-index: 10;
}
header #normal-nav {
  display: flex;
  gap: 25px;
}
header #normal-nav a {
  text-decoration: none;
  color: #617073;
  cursor: pointer;
  position: relative;
}
header #normal-nav a::before {
  content: "";
  position: absolute;
  height: 2.25px;
  bottom: 0;
  background: #617073;
  width: 0;
  transition: width 0.5s;
}
header #normal-nav a:hover::before {
  width: 100%;
}
header i {
  position: absolute;
  visibility: hidden;
  color: #617073;
  display: none;
  font-size: 50px;
}
header #mobile-nav {
  display: none;
}

main {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0 12.5%;
  background: #fff;
  height: calc(100vh - 75px);
}
main div {
  position: relative;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  width: 25%;
}
main div h1 {
  color: #171a21;
  font-size: 75px;
  margin: 0;
}
main div h2 {
  color: #617073;
  font-size: 25px;
  text-align: left;
  font-family: monospace;
  white-space: nowrap;
  border-right: 3px solid;
  width: 23.5ch;
  animation: typing 2.5s steps(23), blink 0.5s step-end infinite;
  overflow: hidden;
}
@keyframes typing {
  0% {
    width: 0;
  }
}
@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #617073;
  }
}
main svg {
  width: 500px;
  height: auto;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 12.5%;
  width: 100%;
  background: #fff;
  position: relative;
  background: #ebebeb;
}
#about h1 {
  color: #171a21;
  font-size: 50px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.3s;
}
#about h1:hover {
  transform: translateX(17.5px);
}
#about .second {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1075px) {
  #about {
    flex-direction: column;
    gap: 25px;
  }
  #about h1 {
    width: auto;
    text-align: center;
  }
}
#about p {
  max-width: 500px;
  font-size: 20px;
  color: #fff;
  background: #171a21;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 7.5px 7.5px 0px rgba(125, 125, 125, 0.375);
  line-height: 1.25;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 12.5%;
  width: 100%;
  background: #fff;
  position: relative;
}
#projects h1 {
  color: #171a21;
  font-size: 50px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.3s;
}
#projects h1:hover {
  transform: translateX(17.5px);
}
#projects .second {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1075px) {
  #projects {
    flex-direction: column;
    gap: 25px;
  }
  #projects h1 {
    width: auto;
    text-align: center;
  }
}
#projects p {
  max-width: 500px;
  font-size: 20px;
  color: #fff;
  background: #171a21;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 7.5px 7.5px 0px rgba(125, 125, 125, 0.375);
  line-height: 1.25;
  text-align: center;
}

#skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 12.5%;
  width: 100%;
  background: #fff;
  position: relative;
  background: #ebebeb;
}
#skills h1 {
  color: #171a21;
  font-size: 50px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.3s;
}
#skills h1:hover {
  transform: translateX(17.5px);
}
#skills .second {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1075px) {
  #skills {
    flex-direction: column;
    gap: 25px;
  }
  #skills h1 {
    width: auto;
    text-align: center;
  }
}
#skills div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#skills div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
#skills div ul li {
  max-width: 500px;
  font-size: 20px;
  color: #fff;
  background: #171a21;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 7.5px 7.5px 0px rgba(125, 125, 125, 0.375);
  line-height: 1.25;
  font-size: 15px;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 12.5%;
  width: 100%;
  background: #fff;
  position: relative;
  background: #171a21;
}
#contact h1 {
  color: #171a21;
  font-size: 50px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.3s;
}
#contact h1:hover {
  transform: translateX(17.5px);
}
#contact .second {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1075px) {
  #contact {
    flex-direction: column;
    gap: 25px;
  }
  #contact h1 {
    width: auto;
    text-align: center;
  }
}
#contact h1 {
  color: #fff;
  font-weight: 100;
}
#contact div {
  display: flex;
  gap: 50px;
}
#contact div a {
  background: #fff;
  color: #171a21;
  box-shadow: 0px 7.5px 7.5px 0px rgba(10, 10, 10, 0.25);
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}
#contact div a:hover {
  color: #fff;
  background: #171a21;
}

@media screen and (max-width: 1090px) {
  header {
    justify-content: center;
    padding: 25px;
  }

  main {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px 12.5%;
  }
  main div {
    align-items: center;
  }
  main svg {
    width: 90%;
  }
}
@media screen and (max-width: 675px) {
  header {
    justify-content: start;
    padding: 0;
  }
  header i {
    position: relative;
    visibility: visible;
    margin: 0;
    width: 100%;
  }
  header #normal-nav {
    display: none;
  }
  header #mobile-nav {
    background: #fff;
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    top: 100%;
    width: 100%;
    height: auto;
    padding: 25px;
    gap: 15px;
    transform: translateX(-100%);
  }
  header #mobile-nav a {
    text-decoration: none;
    color: #617073;
  }

  #contact .second {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
