@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

:root {
    --white: #fff;
    --bg-top: #8CA6DB;
    --bg-bottom: #B993D6;
    --location:rgb(212, 71, 71, 0.75);
    --black: #2f2e30;
    --shadow: rgba(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb{
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--white);
}

::-webkit-scrollbar-track {
    background: #B993D6;
    background: -webkit-linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--bg-top), var(--bg-bottom)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
    font-family: Poppins;
}

#bg {
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--bg-top), var(--bg-bottom)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

section {
    width: 100%;
    height: 100vh;

    color: var(--white);

    padding: 50px 150px;
}

section h2 {
    font-size: 40px;
    text-shadow: 5px 5px var(--shadow);
    position: relative;
}

section h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--white);
}

section h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    translate: 5px 5px;
    border-bottom: 2px solid var(--shadow);
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#hero h1{
    font-size: 50px;
    text-shadow: 5px 5px var(--shadow);
}

#hero p {
    opacity: .75;
}

#hero #button {
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
}

#hero button {
    border: 1px solid var(--white);
    color: var(--text);
    background-color: transparent;
    padding: 5px 25px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 5px 5px var(--shadow);
    position: relative;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}

#hero button::after {
    content: '';
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -ms-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    z-index: -10;
}

#hero button:hover::after {
    transition: width .3 ease-in-out;
    width: 100%;
}

#hero button:hover {
    color: var(--bg-bottom);
}

#hero button iconify-icon {
    translate: 0 -5%;
}

.title-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5px;
}

#projects {
    display: flex;
    flex-direction: column;

    gap: 37.5px;
    /* justify-content: center; */
}

#projects ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 25px;
}

#projects li {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

#projects li.selected {
    background-color: var(--shadow);
}

#projects li:hover {
    background-color: var(--shadow);
}

footer {
    height: 50vh;
    overflow: hidden;
}

footer #circle {
    background-color: rgb(46, 45, 47, .125);
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* translate: 0 0%; */
}