---
import Card from "../Card.astro";
---

<Card class="p-6 md:col-span-2 md:row-span-2 col-start-4 md:row-start-3">
	<div class="flex flex-col h-full">
		<div class="flex flex-col gap-2">
			<h1 class="text-2xl text-balance inter-600">Experience</h1>

			<p class="text-neutral-400 text-pretty">
				My career began at <a
					class="text-blue-800 hover:opacity-50"
					href="https://auroracore.com.ar/"
					target="_blank">
					AuroraCore
				</a>, a startup where I worked as a Full-Stack Web
				Developer, gaining hands-on experience with SaaS,
				software architecture, deployment, and databases. I'm
				currently a Software Developer on the data team at <a
					class="text-purple-800 hover:opacity-50"
					href="https://www.morningvalue.com/"
					target="_blank">
					Morning Value
				</a>, where I build software that processes massive
				amounts of data using microservices architecture,
				micro-frontends, and message brokers like RabbitMQ and
				Kafka.
			</p>
		</div>
	</div>
</Card>
