---
import { IconArrowUpRight } from "@tabler/icons-react";
import Card from "@/components/Card.astro";
---

<Card class="order-4 md:order-none pt-4.5 p-6 md:col-span-2 md:col-start-3">
	<div class="flex flex-col h-full">
		<div class="flex flex-col gap-2 relative">
			<a
				class="absolute top-0 right-0 w-full h-full flex jusitfy-end float-right text-right opacity-50 hover:opacity-100 transition-opacity"
				href="https://www.npmjs.com/~lullaby6"
				target="_blank">
				<span class="absolute top-0 right-0">
					<IconArrowUpRight stroke={2} size={26} />
				</span>
			</a>

			<h1 class="text-xl text-balance inter-600">NPM Packages</h1>

			<p class="text-neutral-400 text-pretty text-sm">
				I have published six packages on npm. The most
				interesting ones I can highlight are <a
					class="text-amber-600 hover:opacity-50"
					href="https://www.npmjs.com/package/locale-drive"
					target="_blank">
					Locale Drive
				</a>
				which provides a tool for transferring files within your local
				network, and <a
					class="text-blue-800 hover:opacity-50"
					href="https://www.npmjs.com/package/locale-drive"
					target="_blank">
					custom-html-element
				</a> which allows you to create reusable elements.
			</p>
		</div>
	</div>
</Card>
