---
import { IconArrowUpRight } from "@tabler/icons-react";
import Card from "@/components/Card.astro";
---

<Card class="!p-0 md:col-span-3 md:row-span-3 md:col-start-3 md:row-start-1">
	<a
		class="group block w-full aspect-video md:aspect-auto md:h-full relative cursor-pointer"
		href="/projects"
		aria-label="View all projects">
		<img
			src="/assets/images/projects/Projects.avif"
			alt="Projects preview"
			class="absolute inset-0 w-full h-full object-cover object-top select-none transition duration-300"
		/>

		<span
			class="absolute inset-0 bg-black/0 group-hover:bg-black/30 transition-colors">
		</span>

		<span
			class="absolute bottom-0 left-0 w-full flex items-center justify-between gap-2 p-4 bg-gradient-to-t from-black/80 to-transparent">
			<span class="text-xl text-balance inter-600">Projects</span>
			<span
				class="flex items-center gap-1 text-sm text-neutral-300 group-hover:opacity-50 transition-opacity">
				View all
				<IconArrowUpRight stroke={2} size={18} />
			</span>
		</span>
	</a>
</Card>
