---
import { IconArrowLeft, IconArrowUpRight } from "@tabler/icons-react";
import Layout from "@/layouts/Layout.astro";
import Background from "@/components/Background.astro";
import Card from "@/components/Card.astro";
import { projects } from "@/data/projects";
---

<Layout>
	<main class="w-screen min-h-screen text-neutral-300 relative">
		<Background />

		<div
			class="relative w-screen min-h-screen text-neutral-300 p-4 lg:p-6 xl:p-8 2xl:p-16 3xl:p-32 z-10">
			<div class="flex items-center gap-4 mb-6">
				<a
					class="hover:opacity-50 transition-opacity cursor-pointer"
					href="/"
					aria-label="Back to home">
					<IconArrowLeft stroke={2} size={28} />
				</a>

				<h1 class="text-3xl text-balance inter-600">Projects</h1>
			</div>

			<div
				class="columns-1 sm:columns-2 lg:columns-3 2xl:columns-4 gap-4 [column-fill:_balance]">
				{
					projects.map((project) => (
						<a
							class="group block mb-4 break-inside-avoid"
							href={project.href}
							target="_blank">
							<Card class="h-full">
								<div class="flex flex-col gap-2 relative">
									<span class="absolute top-0 right-0 opacity-50 group-hover:opacity-100 transition-opacity">
										<IconArrowUpRight stroke={2} size={22} />
									</span>

									<h2 class="text-xl text-balance inter-600 text-purple-800 pr-7 group-hover:opacity-50 transition-opacity">
										{project.name}
									</h2>

									<p class="text-neutral-400 text-pretty text-sm">
										{project.description}
									</p>
								</div>
							</Card>
						</a>
					))
				}
			</div>
		</div>
	</main>
</Layout>
