---

---

<span class="fixed top-0 left-0 w-screen h-screen">
  <span
    class="absolute top-0 left-0 h-screen w-screen bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800"
  ></span>
  <span class="absolute top-0 left-0 h-screen w-screen bg-black opacity-[0.9]"
  ></span>

  <span
    class="absolute top-0 left-0 h-64 w-64 m-6 md:m-32 rounded-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob"
  >
  </span>

  <span
    class="absolute bottom-0 left-0 h-64 w-64 rounded-full mx-128 my-32 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob hidden md:block"
  >
  </span>

  <span
    class="absolute top-0 right-0 h-48 w-48 rounded-full mx-32 my-32 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob hidden md:block"
  >
  </span>

  <span
    class="absolute bottom-0 right-0 h-64 w-64 rounded-full m-6 md:m-64 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob"
  >
  </span>
</span>

<span class="fixed top-0 left-0 w-screen h-screen backdrop-blur-2xl"></span>
