---
import {
	IconArrowUpRight,
	IconBrandGithub,
	IconBrandLinkedin,
	IconFileCv,
	IconMail,
} from "@tabler/icons-react";
---

<main class="w-screen h-screen bg-black text-neutral-300 relative">
	<span
		class="absolute top-0 left-0 w-16 h-16 md:h-64 md:w-64 m-0 md:m-32 rounded-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob">
	</span>

	<span
		class="absolute bottom-0 left-0 h-64 w-64 rounded-full mx-128 my-32 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob hidden md:block">
	</span>

	<span
		class="absolute top-0 right-0 h-48 w-48 rounded-full mx-32 my-32 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob hidden md:block">
	</span>

	<span
		class="absolute bottom-0 right-0 h-64 w-64 rounded-full m-64 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob hidden md:block">
	</span>

	<span class="absolute top-0 left-0 w-screen h-screen backdrop-blur-2xl">
	</span>

	<div
		class="absolute top-0 left-0 w-screen h-screen text-neutral-300 p-4 flex flex-col md:p-32 md:grid md:grid-cols-5 md:grid-rows-5 gap-4 z-10">
		<div
			class="relative overflow-hidden rounded-xl p-6 md:col-span-2 md:row-span-2">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">
						Hi! 👋 I'm Luciano Brumer, alias lullaby6.
					</h1>

					<p class="text-neutral-400 text-pretty">
						I'm currently working at <a
							class="underline1 text-purple-800 hover:opacity-50"
							href="https://www.morningvalue.com/"
							target="_blank">
							Morning Value
						</a>as a Full-Stack Web Developer, using Golang,
						JavaScript, Python, React, and more. I started
						programming at 10 years old using Python with Pygame,
						then I discovered web development and cybersecurity, and
						they became my passion.
					</p>
				</div>

				<div class="flex items-end gap-2 w-full justify-end h-full">
					<a
						class="hover:opacity-50 cursor-pointer"
						href="mailto:lucianobrumer5@gmail.com"
						target="_blank">
						<IconMail stroke={1} size={26} />
					</a>

					<a
						class="hover:opacity-50 cursor-pointer"
						href="https://github.com/lullaby6"
						target="_blank">
						<IconBrandGithub stroke={1} size={26} />
					</a>

					<a
						class="hover:opacity-50 cursor-pointer"
						href="https://www.linkedin.com/in/luciano-brumer/"
						target="_blank">
						<IconBrandLinkedin stroke={1} size={26} />
					</a>

					<a
						class="hover:opacity-50 cursor-pointer"
						href="https://www.linkedin.com/in/luciano-brumer/"
						target="_blank">
						<IconFileCv stroke={1} size={26} />
					</a>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 md:col-span-2 md:col-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">
						NPM Packages
					</h1>

					<p class="text-neutral-400 text-pretty">
						Lorem ipsum dolor sit, amet consectetur adipisicing
						elit.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 md:col-start-5 md:row-start-5">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>
			<!-- 3 -->
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 md:col-span-2 md:col-start-3 md:row-start-2">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">
						Composer PHP Packages
					</h1>

					<p class="text-neutral-400 text-pretty">
						Lorem ipsum dolor sit, amet consectetur adipisicing
						elit.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 md:row-span-2 md:col-start-5 md:row-start-1">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>
			<!-- 5 -->
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 row-span-3 col-start-1 md:row-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>
			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">
						Game Development
					</h1>

					<p class="text-neutral-400 text-pretty">
						As another hobby, I also try to devote myself to
						developing 2D and 3D indie games using engines like
						Phaser, Godot, and Unity. Currently, I’ve only released
						a simple 2D bullet hell game, but I’m working on others.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 md:col-span-2 row-span-3 col-start-2 md:row-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">Projects</h1>

					<p class="text-neutral-400 text-pretty">
						Lorem ipsum dolor sit, amet consectetur adipisicing
						elit. Sequi officia corrupti fuga quis nisi
						necessitatibus ipsa, illo consequuntur repellat
						quibusdam aliquam quam nostrum. Sed vero aperiam
						possimus ipsum quas. Beatae.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 md:col-span-2 md:row-span-2 col-start-4 md:row-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>
			<!-- 8 -->
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-5 col-start-4 md:row-start-5">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.05] pointer-events-none">
			</span>
			<div class="flex flex-col gap-2 relative">
				<a
					class="absolute top-0 right-0 w-full h-full flex jusitfy-end float-right text-right opacity-50 hover:opacity-100 transition-opacity"
					href="https://www.curseforge.com/members/lullaby6/projects?sortBy=TotalDownloads"
					target="_blank">
					<span class="absolute top-0 right-0">
						<IconArrowUpRight stroke={2} size={26} />
					</span>
				</a>

				<h1 class="text-2xl text-balance inter-600">Minecraft Mods</h1>

				<p class="text-neutral-400 text-pretty text-sm">
					In my free time, I also create Minecraft mods; I've had over
					3 million downloads!
				</p>
			</div>
		</div>
	</div>
</main>
