---
import Background from "@/components/Background.astro";
import Hello from "@/components/blocks/Hello.astro";
import Projects from "@/components/blocks/Projects.astro";
import Experience from "@/components/blocks/Experience.astro";
import Education from "@/components/blocks/Education.astro";
import GenerativeArt from "@/components/blocks/GenerativeArt.astro";
import MinecraftMods from "@/components/blocks/MinecraftMods.astro";
---

<main class="w-screen min-h-screen text-neutral-300 relative">
  <Background />

  <div
    class="absolute top-0 left-0 w-screen min-h-screen md:min-h-auto md:h-screen text-neutral-300 flex flex-col p-2 lg:p-6 xl:p-8 2xl:p-16 3xl:p-32 md:grid md:grid-cols-5 md:grid-rows-5 gap-4 z-10"
  >
    <Hello />
    <Projects />
    <Experience />
    <Education />
    <GenerativeArt />
    <MinecraftMods />
  </div>
</main>
