---
import {
	IconArrowUpRight,
	IconBrandGithub,
	IconBrandLinkedin,
	IconFileCv,
	IconMail,
} from "@tabler/icons-react";
---

<main class="w-screen min-h-screen text-neutral-300 relative">
	<span class="fixed top-0 left-0 w-screen h-screen bg-black">
		<span
			class="absolute top-0 left-0 h-64 w-64 m-6 md:m-32 rounded-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob">
		</span>

		<span
			class="absolute bottom-0 left-0 h-64 w-64 rounded-full mx-128 my-32 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob hidden md:block">
		</span>

		<span
			class="absolute top-0 right-0 h-48 w-48 rounded-full mx-32 my-32 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob hidden md:block">
		</span>

		<span
			class="absolute bottom-0 right-0 h-64 w-64 rounded-full m-6 md:m-64 bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-25 animate-blob">
		</span>
	</span>

	<span class="fixed top-0 left-0 w-screen h-screen backdrop-blur-2xl"></span>

	<div
		class="absolute top-0 left-0 w-screen min-h-screen md:min-h-auto md:h-screen text-neutral-300 flex flex-col p-4 lg:p-8 xl:p-16 2xl:p-32 md:grid md:grid-cols-5 md:grid-rows-5 gap-4 z-10">
		<div
			class="relative overflow-hidden rounded-xl p-6 shadow-2xl md:col-span-2 md:row-span-2">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>

			<div class="flex flex-col h-full gap-4 md:gap-0">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">
						Hi! 👋 I'm Luciano Brumer, alias lullaby6.
					</h1>

					<p class="text-neutral-400 text-pretty">
						I'm currently working at <a
							class="text-purple-800 hover:opacity-50"
							href="https://www.morningvalue.com/"
							target="_blank">
							Morning Value
						</a>as a Software Developer, using Golang, JavaScript,
						Python, React, and more. I started programming at 10
						years old with Scratch, then Python with Pygame. Later I
						discovered web development and cybersecurity, and they
						became my passion.
					</p>
				</div>

				<div
					class="flex items-end gap-6 md:gap-2 w-full justify-center md:justify-end h-full">
					<a
						class="hover:opacity-50 cursor-pointer"
						href="mailto:lullaby6.t@gmail.com"
						target="_blank">
						<IconMail stroke={1} size={26} />
					</a>

					<a
						class="hover:opacity-50 cursor-pointer"
						href="https://github.com/lullaby6"
						target="_blank">
						<IconBrandGithub stroke={1} size={26} />
					</a>

					<a
						class="hover:opacity-50 cursor-pointer"
						href="https://www.linkedin.com/in/luciano-brumer/"
						target="_blank">
						<IconBrandLinkedin stroke={1} size={26} />
					</a>

					<a
						class="hover:opacity-50 cursor-pointer"
						href="https://docs.google.com/document/d/1ZZDLn9L4pu_eg4UZwJYR_k2voPh3ZyPFYArPMVirusA/edit?usp=sharing"
						target="_blank">
						<IconFileCv stroke={1} size={26} />
					</a>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl pt-4.5 p-6 shadow-2xl md:col-span-2 md:col-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2 relative">
					<a
						class="absolute top-0 right-0 w-full h-full flex jusitfy-end float-right text-right opacity-50 hover:opacity-100 transition-opacity"
						href="https://www.npmjs.com/~lullaby6"
						target="_blank">
						<span class="absolute top-0 right-0">
							<IconArrowUpRight stroke={2} size={26} />
						</span>
					</a>

					<h1 class="text-xl text-balance inter-600">NPM Packages</h1>

					<p class="text-neutral-400 text-pretty text-sm">
						I have published six packages on npm. The most
						interesting ones I can highlight are <a
							class="text-amber-600 hover:opacity-50"
							href="https://www.npmjs.com/package/locale-drive"
							target="_blank">
							Locale Drive
						</a>
						which provides a tool for transferring files within your local
						network, and <a
							class="text-blue-800 hover:opacity-50"
							href="https://www.npmjs.com/package/locale-drive"
							target="_blank">
							custom-html-element
						</a> which allows you to create reusable elements.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-4 shadow-2xl md:col-start-5 md:row-start-5">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-1 relative">
					<a
						class="absolute top-0 right-0 w-full h-full flex jusitfy-end float-right text-right opacity-50 hover:opacity-100 transition-opacity"
						href="https://lullaby6-generative-art-gallery.vercel.app/"
						target="_blank">
						<span class="absolute top-0 right-0">
							<IconArrowUpRight stroke={2} size={26} />
						</span>
					</a>

					<h1 class="text-xl text-balance inter-600">
						Generative Art Gallery
					</h1>

					<p class="text-sm text-neutral-400 text-pretty">
						I'm just getting started with creative coding, and over
						time I'd like to add more work to my gallery.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 shadow-2xl md:col-span-2 md:col-start-3 md:row-start-2">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2 relative">
					<a
						class="absolute top-0 right-0 w-full h-full flex jusitfy-end float-right text-right opacity-50 hover:opacity-100 transition-opacity"
						href="https://packagist.org/packages/lullaby6/zschema"
						target="_blank">
						<span class="absolute top-0 right-0">
							<IconArrowUpRight stroke={2} size={26} />
						</span>
					</a>

					<h1 class="text-xl text-balance inter-600">
						Composer PHP Packages
					</h1>

					<p class="text-neutral-400 text-pretty text-sm">
						I've released a single package for validating data types
						and schemas, inspired by Zod from TypeScript.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 shadow-2xl md:row-span-2 md:col-start-5 md:row-start-1">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2 relative">
					<h1 class="text-xl text-balance inter-600">Education</h1>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 shadow-2xl row-span-3 col-start-1 md:row-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>
			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">
						Game Development
					</h1>

					<p class="text-neutral-400 text-pretty">
						As another hobby, I also develop 2D and 3D indie games
						using engines like Phaser, Godot, and Unity. So far I've
						released a single 2D bullet hell game made with
						Phaser.js.
					</p>

					<div
						class="relative h-full rounded-xl overflow-hidden mt-6">
						<a
							class="absolute top-0 right-0 m-2 w-full h-full flex jusitfy-end float-right text-right opacity-50 hover:opacity-100 transition-opacity"
							href="https://starbits.site"
							target="_blank">
							<span class="absolute top-0 right-0">
								<IconArrowUpRight stroke={2} size={26} />
							</span>
						</a>

						<img
							class="h-full"
							src="https://starbits.site/cover.jpg"
							alt="Game Development Starbits"
						/>
					</div>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 shadow-2xl md:col-span-2 row-span-3 col-start-2 md:row-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">Projects</h1>

					<p class="text-neutral-400 text-pretty"></p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-6 shadow-2xl md:col-span-2 md:row-span-2 col-start-4 md:row-start-3">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>

			<div class="flex flex-col h-full">
				<div class="flex flex-col gap-2">
					<h1 class="text-2xl text-balance inter-600">Experience</h1>

					<p class="text-neutral-400 text-pretty">
						My career began at <a
							class="text-blue-800 hover:opacity-50"
							href="https://auroracore.com.ar/"
							target="_blank">
							AuroraCore
						</a>, a startup where I worked as a Full-Stack Web
						Developer, gaining hands-on experience with SaaS,
						software architecture, deployment, and databases. I'm
						currently a Software Developer on the data team at <a
							class="text-purple-800 hover:opacity-50"
							href="https://www.morningvalue.com/"
							target="_blank">
							Morning Value
						</a>, where I build software that processes massive
						amounts of data using microservices architecture,
						micro-frontends, and message brokers like RabbitMQ and
						Kafka.
					</p>
				</div>
			</div>
		</div>

		<div
			class="relative overflow-hidden rounded-xl p-5 shadow-2xl col-start-4 md:row-start-5">
			<span
				class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-500 via-purple-500 to-purple-800 opacity-[0.065] pointer-events-none">
			</span>
			<div class="flex flex-col gap-2 relative">
				<a
					class="absolute top-0 right-0 w-full h-full flex jusitfy-end float-right text-right opacity-50 hover:opacity-100 transition-opacity"
					href="https://www.curseforge.com/members/lullaby6/projects?sortBy=TotalDownloads"
					target="_blank">
					<span class="absolute top-0 right-0">
						<IconArrowUpRight stroke={2} size={26} />
					</span>
				</a>

				<h1 class="text-xl text-balance inter-600">Minecraft Mods</h1>

				<p class="text-neutral-400 text-pretty text-sm">
					In my free time, I also create Minecraft mods; I've had over
					3 million downloads!
				</p>
			</div>
		</div>
	</div>
</main>
