---
import { ClientRouter } from "astro:transitions";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/png" href="/profile.png" />
		<!-- <link rel="icon" href="/favicon.ico" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>lullaby6 | portfolio</title>

		<meta
			name="description"
			content="Software Developer, building websites, games, libraries and more."
		/>
		<meta
			name="keywords"
			content="lullaby, lullaby6, portfolio, software, code, coding, coder, programming, programmer, dev, developer, git, github"
		/>
		<meta name="author" content="lullaby6" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<link rel="canonical" href="https://lullaby6.dev/" />
		<meta name="theme-color" content="#000000" />

		<!-- <link rel="preload" as="image" href="/preview.jpg" /> -->

		<meta property="og:type" content="website" />
		<meta property="og:title" content="lullaby6's portfolio" />
		<meta property="og:description" content="lullaby6's portfolio" />
		<!-- <meta property="og:image" content="https://lullaby6.dev/preview.jpg" /> -->
		<meta property="og:url" content="https://lullaby6.dev/" />
		<meta property="og:site_name" content="lullaby6's portfolio" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="lullaby6's portfolio" />
		<meta name="twitter:description" content="lullaby6's portfolio" />
		<!-- <meta name="twitter:image" content="https://lullaby6.dev/preview.jpg" /> -->

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>

		<!-- <ClientRouter /> -->
	</head>
	<body class="inter-500">
		<slot />
	</body>
</html>
